* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin button-styles{
  padding: 10px 20px;
  background: blue;
  cursor: pointer;
  color: white;

}
.lbtn{
  @include button-styles;
}
.rbtn{
  @include button-styles;
  background-color: green;
  font-family: serif;
}